body {
  margin: 0;
  font-family: sans-serif;
}

#map {
  width: 100%;
  height: 100vh;
}

@-webkit-keyframes bounce {
  0% { margin-top: -41px; }
  50% { margin-top: -46px; }
  100% { margin-top: -41px; }
}

@keyframes bounce {
  0% { margin-top: -41px; }
  50% { margin-top: -46px; }
  100% { margin-top: -41px; }
}

.move-marker {
  -webkit-animation: bounce 1s infinite ease-in-out;
  -o-animation: bounce 1s infinite ease-in-out;
  -ms-animation: bounce 1s infinite ease-in-out;
  -moz-animation: bounce 1s infinite ease-in-out;
  animation: bounce 1s infinite ease-in-out;
}

#filter {
  z-index: 10000;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background-color: white;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  max-width: 100%;
}

#search {
  width: calc(100% - 20px);
}

#list .single-location {
  margin-top: 8px;
  cursor: pointer;
  font-size: 12px;
}

#list .single-location:hover {
  color: #0366d6;
}

#leaflet-error {
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
  color: #333;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}